<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center">File Metadata Microservice</h1>
			<p>Submit a file to view its size in bytes.</p>
			<form action="/metadata" method="post" enctype="multipart/form-data">
			  <input type="file" name="uploadedFile" /><br />
			  <input type="submit" />  
			</form>
		</div>
	</div>
</div>